{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/grant/anchors.cljk" ".cljc"
  "src/grant/audit.cljk" ".cljc"
  "src/grant/authority.cljk" ".cljc"
  "src/grant/boot_admission.cljk" ".cljc"
  "src/grant/broker.cljk" ".cljc"
  "src/grant/causal_trust.cljk" ".cljc"
  "src/grant/cli.cljk" ".cljc"
  "src/grant/clock.cljk" ".cljc"
  "src/grant/cloud.cljk" ".cljc"
  "src/grant/component_abi.cljk" ".cljc"
  "src/grant/contract.cljk" ".cljc"
  "src/grant/decide.cljk" ".cljc"
  "src/grant/deployment_profile.cljk" ".cljc"
  "src/grant/device_attest.cljk" ".cljc"
  "src/grant/enroll.cljk" ".cljc"
  "src/grant/execution_decision.cljk" ".cljc"
  "src/grant/graph.cljk" ".cljc"
  "src/grant/json.cljk" ".cljc"
  "src/grant/kagi_policy.cljk" ".cljc"
  "src/grant/key_lifecycle.cljk" ".clj"
  "src/grant/manifest.cljk" ".cljc"
  "src/grant/native_effect.cljk" ".clj"
  "src/grant/net.cljk" ".cljc"
  "src/grant/ota.cljk" ".cljc"
  "src/grant/policy.cljk" ".cljc"
  "src/grant/publisher.cljk" ".cljc"
  "src/grant/signing.cljk" ".cljc"
  "src/grant/surface.cljk" ".cljc"
  "src/grant/tcb.cljk" ".clj"
  "src/grant/update.cljk" ".cljc"
  "src/kotobase/biscuit_grant.cljk" ".cljc"
  "test/grant/anchors_test.cljk" ".cljc"
  "test/grant/audit_test.cljk" ".cljc"
  "test/grant/authority_test.cljk" ".cljc"
  "test/grant/boot_admission_test.cljk" ".cljc"
  "test/grant/broker_test.cljk" ".cljc"
  "test/grant/causal_trust_test.cljk" ".cljc"
  "test/grant/cli_test.cljk" ".cljc"
  "test/grant/clock_test.cljk" ".cljc"
  "test/grant/cloud_test.cljk" ".cljc"
  "test/grant/component_abi_test.cljk" ".cljc"
  "test/grant/contract_test.cljk" ".cljc"
  "test/grant/decide_test.cljk" ".cljc"
  "test/grant/deployment_profile_test.cljk" ".cljc"
  "test/grant/device_attest_test.cljk" ".cljc"
  "test/grant/enroll_test.cljk" ".cljc"
  "test/grant/execution_decision_test.cljk" ".cljc"
  "test/grant/graph_test.cljk" ".cljc"
  "test/grant/json_test.cljk" ".cljc"
  "test/grant/kagi_policy_test.cljk" ".clj"
  "test/grant/key_lifecycle_test.cljk" ".clj"
  "test/grant/manifest_test.cljk" ".cljc"
  "test/grant/native_effect_test.cljk" ".clj"
  "test/grant/net_test.cljk" ".cljc"
  "test/grant/offline_floor_test.cljk" ".cljc"
  "test/grant/ota_test.cljk" ".cljc"
  "test/grant/policy_test.cljk" ".cljc"
  "test/grant/publisher_test.cljk" ".cljc"
  "test/grant/schedule_deadline_test.cljk" ".clj"
  "test/grant/signing_test.cljk" ".cljc"
  "test/grant/surface_test.cljk" ".cljc"
  "test/grant/tcb_test.cljk" ".clj"
  "test/grant/update_test.cljk" ".cljc"
  "test/kotobase/biscuit_grant_attenuation_test.cljk" ".cljc"
  "test/kotobase/biscuit_grant_test.cljk" ".cljc"}}
